# Ignorar caches de Python
__pycache__/

# Ignorar bases de datos locales
*.db

# Ignorar archivos temporales de VSCode
.vscode/

# Ignorar logs
*.log

# Ignorar archivos de sistema
.DS_Store

# Entorno virtual
venv/
